




.nav-link{
    color: black;
    
}

.nav-link:focus{
    color: red;
}
.nav-link:hover{
    color: red;
}

.carousel-caption{
    color: white;
}


.card-cover{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
